$lagoon: #0F758C;
$electric: #01FFC7;
$lightelectric: rgba(2, 255, 198, .5);
$text: #484848;

html {
  height: 100%;
  font-size: 18px;
  font-family: robotoregular;
  line-height: 1.5rem;
  color:#484848;
  background: #F4F4F4;
}
body{
  height: 100%;
}
#wrapper{
  min-height: 100%;
  position:relative;
  overflow: hidden;
}

h1 {
    font-family: firamonobold;
    font-size: 48px;
    line-height: 3rem;
}

#blurb .landing-header {
  color: black;
}

h2 {
    font-family: firamonobold;
    font-size: 36px;
    // line-height: 63px;
}

h3 {
    font-family: firamonobold;
    font-size: 24px;
}

h4 {
    font-family: robotoregular;
}
h5 {
    font-family: robotoregular;
}
h6 {
    font-family: robotoregular;
    font-size: .75rem;
}

p {
    font-family: robotoregular;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .75rem;
}
