.portfolio {
  .portfolio_item {
      background-size: cover !important;

      a {
        border: 0px;
        color: rgba(212,212,212,0);

        &:hover {
          background: rgba(212,212,212,0.6);
        }
      }
  }
}
