.portfolio {
    -moz-column-width: 13em;
    -webkit-column-width: 13em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    max-width: 1260px;
    margin: 2rem auto;
    padding-left: 1rem;
    padding-right: 1rem;

    .portfolio_item {
        display: inline-block;
        margin-bottom: 1rem;
        width: 100%;

        a {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 45px;

          &:hover {
            background: rgba(212,212,212,0.6);
          }
        }
    }
    // Standard portfolio item height, specify in front-matter
    .std {
        height: 250px;

    }
    // Poster portfolio item height, specify in front-matter
    .poster {
        height: 386px;
    }

    // Larger portfolio item
    .lg {
        width: calc(16 * 30px);
        height: calc(9 * 30px);
    }
}
